@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&family=Rubik:wght@600;700&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

:root {
    --scroll-behavior: smooth;
    --font-site: sans-serif;
    --background-color-header: #eeeeee;
    --card-background-color: #fff6ed;
    --main-font-color: #79a207;
    --main-font-color-title: #ffa5c0;
}

header {
    background-color: var(--background-color-header);
    padding: 0;
    position: fixed;
    width: 100%;
    top: 0;
}

body {
    background-color: var(--card-background-color);
}

img {
    width: 100%;
    display: block;
}

ul {
    list-style-type: none;
}

a {
    text-decoration: none;
    color: inherit;
}

.header {
    margin: 0 0 0 0;
}

.header-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}


@media (min-width: 560px) {
    .header-container {
        flex-direction: row;
        
    }
}



.header-container-logo {
    display: flex;
    width: 50%;
    align-items: center;
}

.header-container-logo-pic {
    background-image: url(../img/logo-flowers.png);
    background-size: cover;
    background-repeat: no-repeat;
    width: 35%; 
    min-width: 120px;
    height: 120px;
     margin: 0 0 0 -50px;
    align-self: center;
    justify-self: center; 
    background-position: 50% 50%;
}

@media (min-width: 560px) {
    .header-container-logo-pic {
        flex-direction: row;
        margin: 0 0 0 10px;

        
    }
}

.header-container-name {
    color: var(--main-font-color-title);
    align-self: center;
    font-size: 40px;
    margin: 0 0 0 40px;
    font-family: var(--font-site);
}

.header__navigation {

    display: flex;
    color: var(--main-font-color);
}

.header__navigation-list {
    width: 100%;
    display: flex;
    flex-direction: row;
    min-width: 320px;
    justify-content: flex-end;
}

.navigation__item {
    list-style: none;
    margin: 0 20px 0 20px;
    font-size: 16px;
    font-family: var(--font-site);
}

.header-statement-text {
    font-family: var(--font-site);
    color: var(--main-font-color-title);
    text-align: center;
    font-size: 38px;
    min-width: 320px;
    padding: 140px 0px 20px 0px;
}

.header-statement-paragraph {
    font-family: var(--font-site);
    color: var(--main-font-color);
    text-align: center;
    font-size: 19px;
    min-width: 320px;
    padding: 0px 0px 40px 0px;
}

.email-form-container-field {
    text-align: center;
    max-width: 275px;
    width: 100%;
    padding: 5px;
    box-sizing: border-box;
    display: flex;
    margin-bottom: 20px;
    min-width: 320px;
}

.email-form-container-button {
    color: var(--main-font-color);
    padding: 10px 20px 10px 20px;
}

.email-form-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    height: 100px;
    margin-top: 10px;
    min-width: 320px;
}

.main__information-title {
    font-family: var(--font-site);
    color: var(--main-font-color-title);
    text-align: center;
    font-size: 30px;
    min-width: 320px;
    padding: 20px 0px 20px 0px;
}



.main__information-paragraph {
    font-family: var(--font-site);
    color: var(--main-font-color);
    text-align: center;
    font-size: 19px;
    min-width: 320px;
    padding: 0px 0px 40px 0px;
}

.main__information-info-box-picture {
    width: 65px;
    height: 65px;
    border-radius: 50%;
    margin: 0px 50px 0px 0px;

}

.main__information-info-box-title {
    display: flex;
    flex-direction: column;
    font-family: var(--font-site);
    color: var(--main-font-color-title);
    font-size: 23px;
    min-width: 320px;
    font-weight: 700;
    padding: 0px 0px 5px 0px;
}

.main__information-info-box-paragraph {
    display: flex;
    flex-direction: column;
    font-family: var(--font-site);
    color: var(--main-font-color);
    font-size: 17px;
    padding: 0px 0px 5px 0px;
}

.main__information-info-box {
    display: flex;
    flex-direction: row;
    margin: 20px 20px 20px 60px;
}

#how-it-works {
    font-family: var(--font-site);
    color: var(--main-font-color-title);
    font-size: 23px;
    min-width: 420px;
    font-weight: 700;
    padding: 20px 20px 20px 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 40px 0 0 0;
}

.price-section {
    
    min-height: 500px;
    min-width: 370px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(370px, 1fr));
    grid-gap: 20px;
    justify-items: center;
    justify-content: space-around;
   
    margin: 40px 40px 40px 40px;
    font-family: var(--font-site);
    color: var(--main-font-color);
    font-size: 23px;
    font-weight: 700;
}

.price-section-content-text {
    max-width: 370px;
    min-height: 500px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    background-color: var(--background-color-header);
    border-style: inset;
}

.price-section-content-text-title {
    
    font-size: 30px;
   color: var(--main-font-color-title);
}

.price-section-content-text-title-price {
    
    font-size: 30px;  
}

.price-section-content-text-title-item {
    text-align: center;
    font-size: 30px; 
}

.price-section-content-text-title-button {
    height: 50px;
    width: 100px;
    justify-self: flex-end;
    margin: 30px 30px 30px 30px;
    background-color: var(--card-background-color);
    color: var(--main-font-color-title);
}

.price-section-content-text-title-button:hover {
    background-color: var(--dark-description);
}
footer {
    margin: 50px 0 0 0;
    display: flex;
    flex-direction: column;
    background-color: var(--background-color-header);
    min-height: 60px;
    align-items: flex-end;
    justify-content: space-around;
    font-family: var(--font-site);
    color: var(--main-font-color);  
}

.credentials_links-link {
    font-size: 14px;
    margin-right: 10px;
}

.credentials_text {
    font-size: 14px;
    margin-right: 10px;
}